.App {
  display: flex;
  flex-direction: column;
  align-items: start;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow-x: hidden;
}
header {
  height: 70px;
  width: 100vw;
  background: #2b5876;
  background: -webkit-linear-gradient(to right, #4e4376, #2b5876);
  background: linear-gradient(to right, #4e4376, #2b5876);
  color: white;
  font-family: monospace;
  font-size: 24px;
  display: flex;
  text-shadow: 1px 1px black;
  box-shadow: 0 1px 5px black;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.buttons {
  width: 100vw;
  margin-top: 5em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media only screen and (max-width: 768px) {
  .buttons {
    flex-direction: column;
    margin-top: 2em;
  }
}
