.App {
  display: flex;
  flex-direction: column;
  align-items: start;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow-x: hidden;
}
header {
  height: 70px;
  width: 100vw;
  background-color: darkslateblue;
  color: white;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.buttons {
  width: 100vw;
  margin-top: 5em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media only screen and (max-width: 768px) {
  .buttons {
    flex-direction: column;
  }
}
